#submit {
    float: right;
}

.form-group {
    padding: 1%;
}

#submit {
    margin-bottom: 1%;
    margin-right: 1%;
}

.card {
    margin-bottom: 1%;
}

button {
    float: right;
    margin: 1%;
}